contourpy==1.0.7
cycler==0.11.0
fonttools==4.39.2
fuzzywuzzy==0.18.0
kiwisolver==1.4.4
Levenshtein==0.21.0
matplotlib==3.7.1
numpy==1.24.2
packaging==23.0
pandas==1.5.3
Pillow==9.4.0
pyparsing==3.0.9
python-dateutil==2.8.2
python-Levenshtein==0.21.0
pytz==2022.7.1
pywin32==305
rapidfuzz==3.0.0
six==1.16.0
